<!DOCTYPE html>
<html>
<head>
    <title>Capstone ML with Heat Transfer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>🔥 Heat Transfer Predictor</h2>

    <form method="POST" action="/predict">
        <input type="number" name="thermalcond" placeholder="Thermal Conductivity" required><br>
        <input type="number" name="sourcetemp" placeholder="Source Temperature" required><br>
        <input type="number" name="ambienttemp" placeholder="Ambient Temperature" required><br>
        <input type="number" name="blocksize" placeholder="Block Size" required><br>
        <input type="submit" value="Predict">
    </form>

    {% if result %}
        <h3>Max Temp: {{ max_temp }} °C</h3>
        <h3>Avg Temp: {{ avg_temp }} °C</h3>
        <h3>Center Temp: {{ center_temp }} °C</h3>
        <h3>Efficiency: {{ efficiency }}%</h3>
        <h3>Status: {{ status }}</h3>
    {% endif %}
</body>
</html>
